
body {
    font-weight: 400;
    font-size: 20px;
}

.title {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 6%;
}

.title h2 {
    font-size: 30px;
    color: rgb(244, 208, 92);
}

.content {
    display: flex;
    align-items: start;
    gap: 160px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item h3 {
    color: white;
    background-color: rgb(242, 228, 156);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 7px 0;
    margin-bottom: 15px;    
    width: 130px;
}